.image_slide {
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start;
  margin-right: 15px;
  margin-bottom: 20px;
  width: 120px;
  height: 130px;
}
.container {
  margin-left: 15em;
  margin-top: 5em;
  width: 100%;
}
