.container {
  margin-top: 100px;
  margin-left: 20em;
  width: 100%;
}

.tagList {
  display: flex;
  flex-direction: row;
}

.taglistItem {
  margin-left: 5px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

  background: white;
  border-radius: 5px;
}

.taglistItem:hover {
  background-color: #a5a0a0;
}

.image_slide {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  flex-wrap: wrap;
}

.image {
  margin-right: 15px;
  margin-bottom: 20px;
  width: 120px;
  height: 135px;
  background-color: #f5f5f5;
  flex: 1;
}

.info {
  color: #000000;
  font-weight: bold;
  background-color: #a2b9bc;
}

.delete_icon {
  position: absolute;
  margin-left: 6.5em;
  color: #f5f5f5;
}

.delete_icon:hover {
  color: #a5a0a0;
}
